body{
    background-color: forestgreen;    
}

h1, .parkSearch, li {
    text-align: center;
    border: solid;
    list-style: none;
}
ul {
    align-content: center;
    margin: auto;
}

li, li img {    
    max-width: 50%;
    height: auto;    

}